.inputDiv{
    display: flex;
    flex-direction: column;
}
.main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.gameName{
    font-size: 2rem;
    margin: 0 0 0 1vw;
    font-weight: bold;
}